 @-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
box-sizing: border-box;
text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
box-sizing: inherit;
}

/*
font-family: 'Arimo', sans-serif;
font-family: 'Amatic SC', cursive;
*/

html {
  font-family: 'Arimo', sans-serif;
}



/*NAVIGATION*/
header {
  background-color: #fff;
  padding: 1em;
}

nav {
  text-align: center;
  position: relative;

}
.nav {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
}

.nav a{
    color: #000;
    padding: .5em .5em;
    background-color: #fff;
    font-weight: 300;
}

.nav li {
  padding: .5em;
}

.nav a:hover {
  color: #6C0404;
}

@media only screen and (min-width: 38em) {

  .nav li{
    display: inline;
  }

  .nav {
    float: right;

  }
}

/*BODY*/
.amatic {
  font-family: 'Amatic SC', cursive,;
}

.logo {
  background: url("../img/saas-logo2.png");
  background-size: 120px auto;
  background-position: center top;
  background-repeat: no-repeat;
}

.spike{
  background: url("../img/spikes1.png") ,url("../img/spikes2.png");
  background-size: 80px auto, 80px auto;
	background-position: left center, right center;
	background-repeat: no-repeat;
  margin-bottom: 2em auto;
}

.spike p {
  padding: 1em
}

.signup {
  color: #000;
  background-color: transparent;
  padding: .25em 1em;
  border-radius: 10px;
  font-weight: 300;
  border: #000;
  border-style: solid;
  border-width: 1px;
}

.signup:hover {
  color: #fff;
  background-color: #000;
  padding: .25em 1em;
  border-radius: 10px;
  font-weight: 300;
  border: #000;
  border-style: solid;
  border-width: 1px;
}

.space {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.box {
  border: #000;
  border-style: solid;
  border-width: 5px;
  margin: .5em;
}

.t-center {
  text-align: center;
}

/*BANNERS*/
.banner {
  position: relative;
  text-align: center;
  font-size: .75rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
  background:
  linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent) no-repeat center bottom / 100% 50%,
  url("../img/herobanner.jpg") no-repeat center top / cover;
  padding-top: 42.85%;
}

.banner1 {
  position: relative;
  text-align: center;
  font-size: .75rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent) no-repeat center top / 100% 50%,
  url("../img/idea2.jpg") no-repeat center top / cover;
  padding-top: 60%;
}

.banner2 {
  position: relative;
  text-align: center;
  font-size: .75rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent) no-repeat center top / 100% 50%,
  url("../img/books.jpg") no-repeat center top / cover;
  padding-top: 60%;
}

.banner3 {
  position: relative;
  text-align: center;
  font-size: .75rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent) no-repeat center top / 100% 50%,
  url("../img/sign.jpg") no-repeat center top / cover;
  padding-top: 42.85%;
}

.banner3-2 {
  position: relative;
  text-align: center;
  font-size: .75rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent) no-repeat center top / 100% 50%,
  url("../img/sign.jpg") no-repeat center top / cover;
  padding-top: 60%;
}

.banner:hover {
  background:
  linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent) no-repeat center bottom / 100% 50%,
  url(../img/herobanner2.jpg) no-repeat center top / cover;
}

.banner img {
  width: 100%;
}

/*BANNER CONTENT*/
.ban-con {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-shadow: 1px 1px 8px rgba (0,0,0,0.8);
  bottom: 15%;
  font-weight: 300;
  color: #fff;
}

.ban-con a {
  color: #fff;
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 10px;
  font-weight: 300;
  border: #fff;
  border-style: solid;
  border-width: 1px;
}

.ban-con a:hover {
  color: #000;
  background-color: #fff;
  padding: 1em 2em;
}


.ban-con1 {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-shadow: 1px 1px 8px rgba (0,0,0,0.8);
  bottom: 15%;
  font-size: 1em;
}

.ban-con1 a {
  color: #fff;
  background-color: transparent;
  padding: .25em .75em;
  border-radius: 10px;
  font-weight: 300;
  border: #fff;
  border-style: solid;
  border-width: 1px;
}

.ban-con1 p {
  color: #fff;
}

.ban-con1 a:hover {
  color: #000;
  background-color: #fff;
  padding: .25em .75em;
}

/*FOOTER*/
footer {
  background-color: #111;
  color: #999;
  font-weight: 300;
}

.nav-f {
  background-color: #111;
}

@media only screen and (min-width: 38em) {

  .nav-f li{
    display: inline;
  }

  .nav-f a {
    padding: 1em;
  }
}

.nav-f li {
  list-style-type: none;
  padding: .5em;
}

.nav-f a{
  background-color: #111;
  padding: .5em 1em .5em 1em;
  text-align: center;
  color: #999;
  font-weight: 300;

}

.nav-f a:hover {
  color: #fff;
}

.logo2 {
  background: url("../img/saas-logo3.png");
  background-size: 40px auto;
  background-position: center;
  background-repeat: no-repeat;
  display: inline;
  margin-right: .5em;
}

.logo2:hover {
  background: url("../img/saas-logo2.png");
  background-size: 40px auto;
  background-position: center;
  background-repeat: no-repeat;
  display: inline;
  margin-right: .5em;
}
