 @-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
box-sizing: border-box;
text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
box-sizing: inherit;
}

/*
font-family: 'Arimo', sans-serif;
font-family: 'Amatic SC', cursive;
*/

html {
  font-family: 'Arimo', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive,;

}

header {
  background-color: #fff;
  padding: 1em;
}


main {
    background: linear-gradient(to top, rgba(0, 0, 0, .5), transparent) no-repeat center top / 100% 1%;

}

nav {
  text-align: center;
  position: relative;

}
.nav {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
}

.nav a{
    color: #000;
    padding: .5em .5em;
    background-color: #fff;
    font-weight: 300;
}

.nav li {
  padding: .5em;
}

.nav a:hover {
  color: #6C0404;
}

@media only screen and (min-width: 38em) {

  .nav li{
    display: inline;
  }

  .nav {
    float: right;

  }
}

.spike{
  background: url("../img/spikes1.png") ,url("../img/spikes2.png");
  background-size: 80px auto, 80px auto;
	background-position: left center, right center;
	/* One value will apply to all images */
	background-repeat: no-repeat;
}

.spike p {
  padding: 1em
}

.banner {
  position: relative;
  text-align: center;
  font-size: .75rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
  background:
  linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent) no-repeat center bottom / 100% 50%,
  url("../img/herobanner.jpg") no-repeat center top / cover;
  padding-top: 42.85%;
}

.banner:hover {
  background:
  linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent) no-repeat center bottom / 100% 50%,
  url(../img/herobanner2.jpg) no-repeat center top / cover;

}

.banner img {
  width: 100%;
}

.ban-con {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-shadow: 1px 1px 8px rgba (0,0,0,0.8);
  bottom: 15%;
  font-weight: 300;
  color: #fff;
}

.ban-con a {
  color: #fff;
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 10px;
  font-weight: 300;

  border: #fff;
  border-style: solid;
  border-width: 1px;
}

.ban-con a:hover {
  color: #000;
  background-color: #fff;

  padding: 1em 2em;
}



.ban-con1 {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-shadow: 1px 1px 8px rgba (0,0,0,0.8);
  bottom: 15%;
  font-size: 1em;
}

.ban-con1 a {
  color: #fff;
  text-decoration: none;
  background-color: #666;
  padding: .25em .5em;
  border-radius: 10px;
}

footer {
  background-color: #111;
  color: #999;
  font-weight: 300;
}



.nav-f {
  background-color: #111;
}

.nav-f li{
  display: inline;
}

.nav-f a{
  background-color: #111;
  padding: .5em;
  text-align: center;
  color: #999;
  font-weight: 300;
}

.nav-f a:hover {
  color: #fff;
}
